<!-- ======================= Enheriting the base content ================================= -->
{% extends 'base.html' %}

{% block title %}
  home page
{% endblock %}


<!-- =================== Block Content =================================== -->
{% block content %}
<!-- ============================== Progressbar ================================ -->

<h1>Unlock Your Career With <span class="comp">CyberLink</span></h1>
<img src="../static/banner.jpg" alt="CyberLink banner" class="img-fluid" id="banner">
<div class="container">
  
  <div id="about">
      <h2>About <span>CyberLink</span></h2>
       <p>
  
  
          Welcome to CyberLink, your gateway to unlocking limitless career opportunities in the ever-evolving landscape of technology. At CyberLink, we understand the importance of finding the perfect fit for your skills, ambitions, and aspirations. Whether you're a seasoned professional seeking new challenges or a fresh graduate eager to embark on your career journey, CyberLink is here to guide you towards success.
  
          Our platform is designed to connect talented individuals with leading companies and organizations across various industries. With a user-friendly interface and advanced search features, navigating through our extensive database of open positions has never been easier. From software development to cybersecurity, data analytics to digital marketing, we offer a diverse range of opportunities to suit every interest and expertise.
  
          What sets CyberLink apart is our commitment to fostering meaningful connections between candidates and employers. We prioritize transparency, integrity, and inclusivity in everything we do, ensuring a fair and equitable recruitment process for all. Whether you're looking for full-time employment, freelance gigs, or remote work options, you'll find a plethora of opportunities that match your preferences and requirements.
  
          But CyberLink is more than just a job board – it's a community where professionals come together to share insights, exchange ideas, and support each other's growth. Through our blog, forums, and networking events, you'll have access to valuable resources and opportunities for professional development.
  
          So why wait? Take the first step towards unlocking your full potential with CyberLink today. Join our community, explore endless possibilities, and embark on a rewarding career journey unlike any other. Your dream job awaits – let CyberLink help you make it a reality.
  
       </p>
     </div>
     <div class="row">
      <h2>People working with CyberLink</h2>
        <div class="col-md-6">
          <p>
            
            Welcome to the vibrant community of individuals powering CyberLink! Our team is a diverse blend of talent,
            expertise, and passion, all united by a common goal: to innovate and redefine the technological landscape.
              From seasoned software engineers crafting elegant code to data analysts unraveling insights from vast datasets,
              each member plays a pivotal role in our journey towards excellence.

            At CyberLink, collaboration is more than just a buzzword – it's the cornerstone of our success. We thrive on sharing
            ideas, challenging each other, and pushing boundaries to create solutions that make a real impact. Whether we're
              brainstorming in meetings or collaborating virtually across continents, our team's collective energy and dedication
              shine through in everything we do.

            But it's not just about the work – it's about the people. We celebrate diversity, foster inclusion, and cultivate an
            environment where everyone feels valued and empowered to bring their authentic selves to the table. Together, we're 
            not just building technology; we're building a community of innovators, dreamers, and change-makers. Join us and be 
            part of something truly remarkable – join the people working with CyberLink.
                        </p>
        </div>
        <div class="d-none d-md-block col-md-6">
          <img src="../static/people.jpg" alt="" class="people">
        </div>
     </div>

</div>

{% endblock %}