{% extends 'base.html' %}

{% block title %}
    Admin Manage Post
{% endblock %}

{% block content %}
<div class="container">
    <h2>ADMINISTRATOR MANAGE JOB ENTRIES FORM</h2>
    <section class="row">
        <div class="col-md-4">
            <form action="/add_job" method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.title.label }}
                    {{ form.title(size=32, class="form-control", placeholder="Job Title") }}
                </div>

                <div class="form-group">
                    {{ form.location.label }}
                    {{ form.location(class="form-control", placeholder="Location") }}
                </div>

                <div class="form-group">
                    {{ form.salary.label }}
                    {{ form.salary(class="form-control", placeholder="Salary") }}
                </div>

                <div class="form-group">
                    {{ form.currency.label }}
                    {{ form.currency(class="form-control", placeholder="Currency") }}
                </div>

                <div class="form-group">
                    <h1>Upload Image</h1>
                    {{ form.image.label }}
                    {{ form.image(class="form-control-file") }}
                </div>

                <div class="form-group">
                    {{ form.responsibilities.label }}
                    {{ form.responsibilities(rows=4, class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.requirements.label }}
                    {{ form.requirements(rows=3, class="form-control") }}
                </div>
                <br>

                <input type="submit" value="Confirm Submission" class="btn btn-info">
            </form>
        </div>

        <div class="d-none d-md-block col-md-8 admin-img">
            <img src="../static/admin.jpg" alt="Admin">
        </div>
    </section>
</div>
{% endblock %}
