{% extends 'base.html' %}

{% block title %}
    Available opportunities
{% endblock %}

{% block content %}

<!-- ======================== Begining of block content (body) ========================= -->
<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 4px;">
    <div class="open-position" id="jobs">
        <h2>Open Positions</h2>    
    </div>
    {% for job in jobs %}
    <div class="col-md-6">
        
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
            {{ job.title }}
        </h4>

        <div>
            <b>Location: </b>{{ job.location }}
        </div>
        <div>
            <b>Company: </b>{{ job.company }}
        </div>
        {% if job.salary %}
        <div>
            <b>Salary: </b>{{ job.salary }}
        </div>
        {% endif %}
       
        <div>
            <br>
            <b class="requirements">REQUIREMENTS</b>
            <p>{{ job.requirements }}</p>
        </div>

       <div>
           <br>
           <b class="responsibilities">RESPONSIBILITIES: </b>
           <p>{{ job.responsibilities }}</p>
       </div>
        
 
        

        
    </div>
    <div class="col-md-4 catalog-img">
        <img src="../static/uploads/{{ job.image_address }}" alt="">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-primary">Apply now</button>
    </div>
    <hr class="blue-hr">
    {% endfor %}
    
</div>

<!-- ================== Thsi page refreshes after every one minute =================== -->
<script>
    setTimeout(function(){
        window.location.reload(1);
    }, 60000);
</script>

{% endblock %}
