/* ===================================== Base.html formatting =========================================================== */
body{
  text-align: center;
  background-color: black;
  color: white;
}
#banner{
    height: 280px;
    object-fit:cover;
    width:100%;
    
  }
  .container{
    max-width: 1200px;
    margin:0,auto,0,auto;
    min-width: 96px;
  }
  .comp{
    font-size: 60px;
    text-decoration:lightgreen;
  }
  h1{
      font-family: roboto;
  }
  h2{
      color: rgb(100,100,100);
      font-family: roboto;
      text-align: center;
  }
  h2:hover{
    color: white;
  }
  .open-position{
      text-align: center;
      align-items: center;
  }
  .copyright{
  text-align: center;
  align-items: center;
  color: red;
}

.people{
  height: 350px;
  width: 100%;
  border-radius: 20px;
}




/* ============================= jobitme.html formatting ===========================================================*/
.blue-hr{
  border-color: rgb(64, 64, 248);
}

.catalog-img img{
  border-radius: 20px;
  width: 100%;
 height: 300px;
}

.responsibilities{
  color: green;
}
.requirements{
  color: orange;
}

/* =============================== jo_post.html formatting =========================================================== */
.admin-img{
  width: 50%;
  
}
.admin-img img{
  width: 100%;
  height: 580px;
  object-fit: cover;
  border-radius: 25px;
}